/* Welcome box */
.wlcmBox {
  display: flex;
  flex-direction: row-reverse;
}

.profilePic {
  /* background-image: url(./profilePic.png);
  background-size: cover; */
  height: 225px;
  width: 250px;
  margin: 50px 35% 0 0;
  border-radius: 50px;
}

.openParagraph {
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 50px;
  padding: 0 30px 0px 30px;
  width: 500px;
  height: 200px;
  border-radius: 25px 0 0 25px;
  opacity: 70%;
  font-family: 'Inter', sans-serif;
  font-family: 'PT Serif', serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-style: italic;
  /* resize: both; */
}
